.seccion {
  width: 100%;
  padding: 60px;
  text-align: center;
}

.seccion h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.seccion p {
  max-width: 800px;
  margin: 0 auto 15px;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
}


.acerca-card {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.acerca-card img {
  width: 100%;
  max-width: 420px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.acerca-card img:hover {
  transform: scale(1.04);
}