.productos {
  padding: 60px 40px;
  text-align: center;
}

.productos h2 {
  font-size: 32px;
  margin-bottom: 40px;
}


.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}


.producto-card {
  background: rgb(183, 43, 43);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  gap: 20px;

  transition: transform 0.3s;
}

.producto-card:hover {
  transform: translateY(-8px);
}


.producto-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}


.producto-card h3 {
  margin: 0;
  font-size: 18px;
  text-align: left;
}